
<p><%= @answer %></p>
<p>- You</p>

<% if @answer.nil? %>
  <p>Ask a new question please</p>
  <p>- Your coach</p>
<% elsif @answer.include? "?" %>
  <p>"Silly question, get dressed and go to work!."</p>
  <p>- Your coach</p>
<% elsif @answer == "I am going to work" %>
  <p>Great !</p>
<% else %>
 <p> I don't care, get dressed and go to work! </p>
 <p>- Your coach</p>
<% end %>

<%= link_to 'Ask a new question', '/ask' %>
